<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../style.css">
    <title>Votre commande</title>
</head>
<body>
    <div id="container">
        <!-- header -->
        <header>
            <img src="../img/logo.png" alt="logo du site Orinoco" class="logo">
            <nav class="navbar">
                <ul>
                    <a href="../view/panier.html"><img src="../img/panier.png" /></a>
                </ul>
            </nav>
        </header>
        <!-- MAIN -->
        <div class="container-cmd">
            <!--Emplacement confirmation de commande-->
        </div>
        <div class="button">
            <a class="button4" href="../index.html">Accueil</a>
        </div>
         <!-- FOOTER -->
         <footer>
            <div class="foot">
                <p class="footP">Nos Partenaires:</p>
                    <ul>
                        <li><a href="Oribook.com">Oribook.com</a></li>
                        <li><a href="Oritextil.com">Oritextil.com</a></li>
                    </ul>
            </div>
            <a href="mailto">Contact</a>
        </footer>
    </div>
    <script src="../js/commande.js"></script> 
</body>
</html>