<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <title>Votre Panier</title>
</head>
<body>
    <!--Produits dans le panier-->
    <div class="container-panier">
        <h3>Produits Sélectionnés</h3>
    </div>
     <!-- FOOTER -->
     <footer>
        <div class="foot">
            <p class="footP">Nos Partenaires:</p>
                <ul>
                    <li><a href="Oribook.com">Oribook.com</a></li>
                    <li><a href="Oritextil.com">Oritextil.com</a></li>
                </ul>
        </div>
        <a href="mailto">Contact</a>
        </footer>
    </div>
    <script src="../js/panier.js"></script> 
</body>
</html>