*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    line-height: 1;
    margin: 0;
    font-family: 'Caveat Brush', cursive;
}

a {
    color: inherit;
    text-decoration: none;
}

#container {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    
}

header {
    width: auto;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: #F3E9F1;
    border-radius: 25px 25px 0 0;
}

.bannière {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid #F3E9F1;
    border-radius: 0 0 25px 25px;
}

.bannière img {
    width: 80%;
}

h1, h2{
    font-size: 3vw;
    font-weight: 600;
    color: black;
}



.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 20px solid #F3E9F1;
    border-radius:  25px;
    min-height: 200px;
    margin: 10px 0;
    padding-bottom: 40px;
}

.main-produit, .container-panier, .container-cmd {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 20px solid #F3E9F1;
    border-radius: 0 0 25px 25px;
    min-height: 200px;
    padding-bottom: 40px;
    margin-bottom: 10px;
}

.container-cmd{
    font-size: 1.4rem;
    text-align: center;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border: 20px solid #F3E9F1;
    border-radius:  25px;
    min-height: 150px;
    font-size: 1.6em;
    color: black;
}

.footP{
    margin-bottom: -10px;
}
#produits{
    width: 80%;
}
.img-container, .img-container-index{
    width: 80%;
    height: 360px;
    display: flex;
    border: 20px solid #f5dbf0;
    border-radius:  40px;
    margin: 20px auto;
}

.img-container-produit{
    width: 90%;
    height: 600px;
    display: flex;
    border: 20px solid #f5dbf0;
    border-radius:  40px;
    margin: 70px auto 40px;
}

.img-cam, .img-cam-index{
    width: 50%;
    min-height: 320px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.card-text, .card-text-index{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-description{
    width: 65%;
    display: flex;
    text-align: center;
    font-size: 1.5rem;
}

h3{
    font-size: 2rem;
}

.card-prix{
    font-size: 3rem;
}

.productLink{
    font-size: 1.8vw;
    background-color: #f5dbf0;
    padding: 15px;
    border-radius: 5px;
}

.card-prix-produit{
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.input-text{
    font-size: 1.5rem;
}

#option_produit{
    font-size: 1.1rem;
}

#input1{
    width: 8vw;
    font-size: 1.1rem;
    
}

.button1, .button2{
   margin-top: 20px;
   padding-top: 10px;
}

.button{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    cursor: pointer;
}
.button1{
    margin-right: 200px;
    background-color: rgb(217, 186, 245);
    border-radius: 5px;
    padding: 10px;
}

.button2 {
    background-color: rgb(217, 186, 245);
    border-radius: 5px;
    padding: 10px;
}

.container-formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 5px;
    border: 4px solid gray;
  }

p > label {
    display: block;
}

input[type=text],
input[type=email],
input[type=number],
fieldset {
    /* requis pour composer de manière appropriée les éléments
       de formulaire sur les navigateurs fondés sur WebKit */
    -webkit-appearance: none;
    width : 30vw;
    border: 1px solid #333;
    margin: 10px 0 0 0;
    align-items: center;
    font-family: inherit;
    font-size: 1.4rem;
    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button3 {
    background-color: rgb(217, 186, 245);
    border-radius: 5px;
    padding: 10px;
    font-family: inherit;
    font-size: 1.5rem;
    cursor: pointer;
}

label{
    font-family: inherit;
    font-size: 1.5rem;
}

.img-cam-panier{
    width: 60%;
    min-height: auto;
    object-fit: cover;
}

table {
    width: 60vw;
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 2px;
    font-size: 1.4rem;
}
  
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}
  
th {
    background-color: rgb(235,235,235);
}
  
td {
    text-align: center;
    font-size: 1.5rem;
}
  
tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}
  
tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}

.button4{
    display: flex;
    justify-content: center;
    background-color: rgb(217, 186, 245);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 1.5rem;
}

.cmd{
    font-size: 2rem;
}

@media (max-width: 1250px) {
    .button1{
        margin-right: 100px;
        background-color: rgb(217, 186, 245);
        border-radius: 5px;
        padding: 10px;
    }
    .img-container-produit{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        border: 20px solid #f5dbf0;
        border-radius:  40px;
        margin: 70px auto 40px;
    }
    #produit{
        width: auto;
        display: flex;
        flex-direction: column;
        
    }
    .img-cam{
        width: 100%;
        min-height: 280px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        
    }
    .card-text{
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: space-evenly;
        align-content: stretch;
        align-items: center;
        
    }

    .img-container-index {
        width: 80%;
        height: 15%;
        display: flex;
        flex-direction: column;
        border: 20px solid #f5dbf0;
        border-radius:  40px;
        margin: 20px auto;
    }

    .img-cam-index{
        width: 100%;
        height: 150px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }

    .card-text-index{
        display: flex;
        margin: auto;
    }
    #produits{
        width: 90%;
        height: auto;
    }
}




@media screen and (max-width: 900px) {
    .productLink{
        font-size: 1.3rem;
    }

    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      width: auto;
      border-bottom: 1px solid #ddd;
      display: flex;
      justify-content: center;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }