*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    line-height: 1;
    margin: 0;
    font-family: 'Caveat Brush', cursive;
}

a {
    color: inherit;
    text-decoration: none;
}

#container {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    
}

header {
    width: auto;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: #F3E9F1;
    border-radius: 25px 25px 0 0;
}

.bannière {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid #F3E9F1;
    border-radius: 0 0 25px 25px;
}

.bannière img {
    width: 80%;
}

h1{
    font-size: 3vw;
    font-weight: 600;
    color: black;
}

h2{
    font-size: 2.8em;
    color: black;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 20px solid #F3E9F1;
    border-radius:  25px;
    min-height: 200px;
    margin: 10px 0;
    padding-bottom: 40px;
}

.main-produit, .container-panier {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 20px solid #F3E9F1;
    border-radius: 0 0 25px 25px;
    min-height: 200px;
    padding-bottom: 40px;
    margin-bottom: 10px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border: 20px solid #F3E9F1;
    border-radius:  25px;
    min-height: 150px;
    font-size: 1.6em;
    color: black;
}

.footP{
    margin-bottom: -10px;
}

.img-container {
    width: 80%;
    max-height: 360px;
    display: flex;
    border: 20px solid #f5dbf0;
    border-radius:  40px;
    margin: 20px auto;
}

.img-container-produit{
    width: 90%;
    height: 600px;
    display: flex;
    border: 20px solid #f5dbf0;
    border-radius:  40px;
    margin: 70px auto 40px;
}

.img-cam{
    width: 50%;
    min-height: 320px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.card-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-description{
    width: 65%;
    display: flex;
    text-align: center;
    font-size: 1.5rem;
}

h3{
    font-size: 2rem;
}

.card-prix{
    font-size: 3rem;
}

.productLink{
    font-size: 1.8vw;
    background-color: #f5dbf0;
    padding: 15px;
    border-radius: 5px;
}

.card-prix-produit{
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.input-text{
    font-size: 1.5rem;
}

#option_produit{
    font-size: 1.1rem;
}

#input1{
    font-size: 1.1rem;
    
}

.button1, .button2{
   margin-top: 20px;
   padding-top: 10px;
}

.button{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}
.button1{
    margin-right: 200px;
    background-color: rgb(217, 186, 245);
    border-radius: 5px;
    padding: 10px;
}

.button2{
    
    background-color: rgb(217, 186, 245);
    border-radius: 5px;
    padding: 10px;
}
.img-cam-panier{
    width: 60%;
    min-height: auto;
    object-fit: cover;
}
table {
    width: 90%;
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 2px;
    font-size: 1.4rem;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
    font-size: 1.5rem;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }